<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login - Boxmore</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
</head>

<body>
    
    <div class="login-container">
        <h1>Entrar: </h1>

            <form method="POST" action="{% url 'login' %}">
                {% csrf_token %}
            <div>
                <label for="name">Nome:</label>
                <input type="text" id="nome" name="nome" placeholder="Digite seu name..." required>
            </div>
            
            <div>
                <label for="senha">Senha:</label>
                <input type="password" id="senha" name="senha" placeholder="Digite sua senha..." required>
            </div>
            
                <button type="submit" id="loginBn">Entrar</button>
                {% comment %} <button type="submit" id="cadastrar">
                    <a href="{% url 'register' %}">Cadastrar</a>
                </button> {% endcomment %}
            </form>
            

            {% if success %}
            <div class="message success">
                {{ success }}
            </div>
            <script>
                // Aguarda 1 segundo antes de redirecionar
                setTimeout(() => {
                    window.location.href = "{% url 'home' %}";  // Substitua 'home' pela rota correta
                }, 1000);
            </script>
            {% endif %}
        
            {% if error %}
            <div class="message error">
                {{ error }}
            </div>
            {% endif %}

</body>
</html>
